<h3>Coleções</h3>
<button type="button" class="btn btn-primary btn-lg" routerLink="newcollection">Criar Coleção</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ColecaoID</th>
            <th scope="col">Nome da Coleção</th>
            <th scope="col">Estação e Lançamento</th>
            <th scope="col">Responsável</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let colecao of colecoes$ | async" (click)="editarColecao(colecao.id)" style="cursor: pointer;">
            <th scope="row">{{colecao.id}}</th>
            <td>{{colecao.nome}}</td>
            <td>{{colecao.lancamento}} {{colecao.ano}}</td>
            <td>{{colecao.responsavel}}</td>
        </tr>
    </tbody>
</table>