<header id="titulo">
  <h4><strong>Bem vindo, </strong>Yan</h4>
  <p>Acompanhe a visão geral de suas coleções</p>
</header>
<div class="cardgroup">
  <div class="card text-center">
    <div class="card-body">
      <p class="card-text">Coleções</p>
      <h5 class="card-title">{{(colecoes$ | async )?.length}}</h5>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <p class="card-text">Modelos</p>
      <h5 class="card-title">{{(modelos$ | async )?.length}}</h5>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <p class="card-text">Orçamento Médio por Coleção</p>
      <h5 class="card-title">{{(orcamentoMedio | currency : 'BRL')}}</h5>
    </div>
  </div>
</div>
<span>
  <h4>Maiores Orçamentos</h4>
</span>
<table class="table align-middle text-center">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome da Coleção</th>
      <th scope="col">Orçamento</th>
      <th scope="col">Responsável</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let colecao of colecoesEmOrdem$ | async">
      <th scope="row">{{colecao.id}}</th>
      <td>{{colecao.nome}}</td>
      <td>{{(colecao.orcamento | currency : 'BRL')}}</td>
      <td>{{colecao.responsavel}}</td>
    </tr>
  </tbody>
</table>