:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 50px;
}


.table {
    margin: 50px;
}

.card {
    width: 18rem;
    height: 6rem;
    background-color: #EBF0FA;
}