:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 50px;
}

header {
    min-height: 10vh;
    margin-bottom: 20px;
}

.cardgroup {
    display: flex;
    justify-content: space-around;    
}

p {
    color: #B4B6C1;
}

span {
    margin: 40px;
}

.card p {
    color: black;
    font-size: 14px;
}

.card h5 {
    font-size: 24px;
}

.card {
    width: 16rem;
    height: 6rem;
    background-color: #EBF0FA;
    border: none;
}

.card-title {
    font-weight: 600;
}