:host {
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    margin-bottom: 80px;
}

button {
    width: 220px;
}