<header>
    <h3>Modelos</h3>
    <button type="button" class="btn btn-primary btn-lg" routerLink="newmodel">Criar Modelo</button>
</header>
<table class="table align-middle text-center">
    <thead>
        <tr>
            <th scope="col">ModeloID</th>
            <th scope="col">Nome do Modelo</th>
            <th scope="col">Coleção</th>
            <th scope="col">Responsável</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let modelo of modelos$ | async" (click)="editarModelo(modelo.id)" style="cursor: pointer;">
            <th scope="row">{{modelo.id}}</th>
            <td>{{modelo.nome}}</td>
            <td>{{modelo.colecao}}</td>
            <td>{{modelo.responsavel}}</td>
        </tr>
    </tbody>
</table>