<img id="logo_audaces" src="/assets/Fill-51.svg" alt="">
<div id="box_login">
    <h4>Sign In</h4>
    <p>Insira suas credenciais para acessar sua conta</p>
    <form [formGroup]="formularioLogin">
        <input type="email" formControlName='email' class="form-control" name="" id="" placeholder="Informe seu e-mail">
        <br>
        <input type="password" formControlName='senha' class="form-control" name="" id="" placeholder="Informe sua senha">
        <br>
        <br>
        <button type="button" class="btn btn-primary btn-lg mr-2" (click)="logar()">Entrar</button>
    </form>
</div>
<div>
    <p id="forgot_pwd">Esqueceu sua senha?&nbsp;<a routerLink="/forgotpassword">Redefinir senha</a></p>
</div>