/* You can add global styles to this file, and also import other style files */
body > * {
    font-family: 'Inter', sans-serif;
}

.btn-primary {
	color: #fff;
	background-color: #0073CF;
	border-color: #0073CF;
}

.btn-secondary {
	color: #A098AE;
	background-color: #EBEBEB;
	border-color: #EBEBEB;
}

.btn {
	font-weight: 500;
	font-size: 18px;
}

a:hover {
	text-decoration: none;
}