<header>
    <img id="logo_isa" src="/assets/isa 1.svg" alt="">
    <p id="titulo">AudacesManager</p>
</header>
<div id="navbar">
    <a routerLink="/app/home" routerLinkActive="active" class="menu-item">Dashboard</a>
    <a class="menu-section">CADASTROS</a>
    <a routerLink="/app/collections" routerLinkActive="active" class="menu-item">Coleções</a>
    <a routerLink="/app/models" routerLinkActive="active" class="menu-item">Modelos</a>
    
    <a class="menu-section">SUPORTE</a>
    <a class="menu-item">Obter Ajuda</a>
    <a class="menu-item">Enviar Comentários</a>
</div>
<footer>
    <a routerLink="/login" class="menu-item">Logout</a>
</footer>